.pagination {
  font-size: .9rem;
}

.pagination > * {
  margin-right: 0.5rem;
  padding: 0.5rem 0.7rem;
}

.pagination a:hover {
  background: #202020 none repeat scroll 0 0;
  text-shadow: 1px 1px 1px #171717;
  color: #fff;
}

.pagination a:active {
  text-shadow: none;
}

.pagination .current {
  background: #202020 none repeat scroll 0 0;
  color: white;
  text-shadow: 1px 1px 1px #171717;
}

.pagination .disabled {
  color: #c0c0c0;
}

.badge-category{
  &:hover{
    background: #0085a1 !important;
    color: white;
  }
}